<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris</title>
</head>
<body>
    <form action="{{ url_for('predict')}}" method="POST">
        <table>
        <tr><td> Sepal_Length:</td><td>  <input type="number" name="sepal_length"></td></tr>
        <tr><td>Sepal_Width:</td><td>   <input type="number" name="sepal_width"></td></tr>
        <tr><td>Petal_Length:</td><td>  <input type="number" name="petal_length"></td></tr>
        <tr><td>Petal_Width:</td><td>   <input type="number" name="petal_width"></td></tr>
        </table>
         <p>
        <input type=submit    value=Submit> </p>
   </form>
    My prediction: {{ predict }}
</body>
</html>
